{% from "_macros.html" import nav_link with context -%}
{% set active_endpoint = active_endpoint|default -%}

<!doctype html>
<html>
<head>
  <title>html</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <a href="{{ url_for('index') }}">feedblender</a>
    <nav>
      <ul>
        <li>{{ nav_link('add', 'add blend', active_endpoint) }}</li>
        <li>{{ nav_link('list', 'list blends', active_endpoint) }}</li>
      </ul>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </main>
  <footer>
  </footer>
</body>
</html>
